/*                  Structure of Homepage Assignment
    table
        tr
          td
        tr
          td 
        tr
          td 
            table 
                 tr
                   td
                   td
                     table
                          tr
                            td
                          tr
                            td
                          tr
                            td
*/
/* Set the first table*/
#layout{
    width: 100%;
}
/* for the first td , we have a background , size , min-width*/
#Td1{
    background-size: 100%;
    background-image: url('../images/Cloths-bc740630f228713e4bb0de8a7bffce22.png');
    min-width: 300px;
    
}
/* for tag h1 that has id=vaule2 (AwesomeShop) , we need to display inline block because elements below it come inline */
h1#value2{
    display: inline-block;
    padding-left: 10%;
    padding-top: 10%;
    max-width: 0px;
    margin: 0;
}
/* for tag span that has id=value3 (? Need Help), we need to have a space between (AwesomeShop and Join) */
span#value3{
   padding-left: 70%;
   padding-right: 2%;
}
/* for tag span element tag a (click link) that have id=value3 (? Need Help) , to change color from blue to black and remove the line under of it*/
span#value3 a{
    color: black;
    text-decoration: none;
}
/*for tag td has id=td1 element input , to make user can click on it*/
td#td1 input{
    padding: 5px;
}
/*for tag span has id=SetcolorShop, to change color (Shop) to blue*/
span#SetcolorShop{
    color: blue;
}
/* for tag div has id=value3,to make a paragrah to center of the table*/
div#value3{
    text-align: center;
    padding-top: 10%;
}
/* for tag div has id=value3 element span , to change font and size  */
div#value3 span{
    font-style: italic;
    font-size: 50px;
}
/* for tag div has id=value3 element p , to change font ,color and size  */
div#value3 p{
    font-size: 25px;
    font-style: italic;
    color: rgb(99, 96, 96);
    margin: 0;
}
/* for tag div has id=Input-icon element  i , to make it go inside box search */
div#Input-icon i{
    position: relative;
    left: 30px;
}
/* for tag div has id=Input-icon, to move direction  */
div#Input-icon{
    padding-top: 10%;
    padding-bottom: 15%;
    margin-bottom: 0;
}
/* for tag input has id=sizebox, to make size of box */
input#sizebox{
    width: 50%;
    font-size: 20px;
    border-color: black;
    padding: 5px;
    border-radius: 15px 15px 15px 15px;
}
/* for tag img has id=SetImg1 , to make background color ,set size , have border*/
img#SetImg1{
    width: 5%;
    padding-left: 25%;
    padding-top:2% ;
    padding-bottom: 4%;
    padding-right: 1%;
    background-color: orange;
    border: 2px solid black;
    margin-top: 2%;
    margin-left: 1%;
    margin-right: 1%;

}
/* for tag img has id=SetImg2 , to make background color ,set size , have border*/
img#SetImg2{
    width: 5%;
    background-color: blue;
    padding-top: 2%;
    padding-bottom: 4%;
    padding-left: 25%;
    padding-right: 1%;
    border: 2px solid black;
    margin-right: 1%;
    margin-top: 2%;
    margin-left: 1%;

}
/* for tag img has id=SetImg3 , to make background color ,set size , have border*/
img#SetImg3{
    width: 5%;
    padding-top: 2%;
    padding-bottom: 4%;
    padding-right: 1%;
    background-color: brown;
    padding-left: 25%;
    border: 2px solid black;
    margin-top: 2%;
    margin-left: 1%;
}
/* for tag span has class=class1 , to change color to white and move it into img with background*/
span.class1{
    position: absolute;
    color: white;
    padding-left: 30px;
    padding-top: 2%;
}
/* for tag span has class=class1 element input,to allow user can click on it */
span.class1 input{
    padding: 10px;
    background-color: white;
    border: 3px solid black;
}
/* Set the second table*/
#layout1{
    width: 100%;
    padding-top: 5%;
}
/* for tag td has id=Td3 ,first row of the second table, to move it to the top of table and size 20%  */
td#Td3{
    width: 20%;
    vertical-align: top;
    padding-top: 2%;
}
/* for tag td has id=Td3 element img, to set size of img */
td#Td3 img{
    width: 20%;
    padding-left: 2%;
    padding-bottom: 10%;
}
/* for tag td has id=Td3 element h3, to move it to the top of table and element display inline  */
td#Td3 h3{
    display: inline-block;
    vertical-align: top;
    margin-bottom: 0;
    padding-left: 2%;
    padding-top: 1%;
}
/* for tag td has id=Td4 ,second row of the second table, we set size and have background color*/
td#Td4{
    width: 80%;
    background-color: rgb(225, 228, 228);
}
/* Set the third table */
#layout2{
    width: 100%;
    padding-top: 2%;
}
/* for tag td has class=Td5 element img , set size of img */
td.Td5 img{
    width: 50%;
}
/* for tag td has class=Td5 element div , to display inline , have background color , become center , and border  */
td.Td5 div{
    display: inline-block;
    border: 2px solid black;
    padding-left:2%;
    padding-top: 1%;
    background-color: white;
    width: 25%;
    text-align: center;
    margin-left: 4%;
    margin-right: 1%;
    margin-bottom: 4%;
}
/* for tag span has class=class2 (20%) , move to the of top the img , background color yellow */
span.class2{
    vertical-align: top;
    padding: 2%;
    border-radius: 20%;
    background-color: rgb(10, 225, 253);
    position: relative;
    left: 30px;
    font-size: 1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/* for tag td has class=Td5 element p , move to the left */
td.Td5 p{
    text-align: left;
}
/* for tag p has class=Classp , set color to red (15$)*/
p.Classp{
    color: red;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
/* for tag hr , set color to red and make it on (15$)*/
hr{
    width: 50px;
    position: relative;
    top: 35px;
    right: 45%;
    padding: 1px;
    border: 1px solid red;
    background-color: red;
    border-radius: 15px 15px 15px 15px;
}
/* for tag p has class=Classp1 , set color (12$)*/
.Classp1{
    color:rgb(28, 134, 184);
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
/* for tag span has class=Classcart , to make space */
span.Classcart{
    padding-left: 45%;
}
/* for tag span has class=Classcart element i , to move it inside a box input */
span.Classcart i{
    position: relative;
    left: 10%;
    color: black;
}
/* for tag span has class=Classcart input, to make space */
span.Classcart input{
    padding-left: 8%;
    padding-top: 1%;
    padding-bottom: 1%;
    border: 1px solid black;
    font-style: oblique;
    font-size: 20px;
    background-color: white;
}
/* for tag td has id=Td6 , to make word become center (Learn more)*/
#Td6{
    text-align: center;
    padding-bottom: 5%;
}
/* for tag td has id=Td6  element span, background color of (Learn more)*/
#Td6 span{
    background-color: orange;
    border-radius: 20%;
    font-size: 1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 1%;
}
.cart{
    position: fixed;
    bottom: 0;
}
.cart i{
    color: rgb(243, 243, 245);
    font-size: 2rem;
}
.cart button{
    background-color: rgb(240, 70, 70);
    
}