<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Shopping</title>
    <link rel="stylesheet" href="../assets/fonts/fontawesome/css/all.css">
    <link rel="stylesheet" href="../assets/css/Homepage.css">
</head>
<body>
    <table id="layout">
        <tr >
            <td id="Td1">
                <h1 id="value2">Awesome<span id="SetcolorShop">Shop</span></h1>
                <span id="value3">
                <a href="#Question"><i class="fa fa-question-circle" aria-hidden="true"></i> Need Help </a> 
                    
                </span>
                <button type="submit"><a href="http://localhost:4000/signin" style="text-decoration: none;color: black;">Join</a></button>
                <div id="value3">
                    <span> Shop your designer dresses </span>
                    <p>Ready to wear dresses tailored for you from online.Hurry up while stock lasts.</p>
                    <div id="Input-icon"> 
                            <input id="sizebox" type="text" placeholder="Search your products from here"> 
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td id="Td2">
                <span class="class1">
                        <h3>Coupon Saving</h3>
                        <p>Up to 60% off everyday essentials</p>
                        <input type="submit" value="Shop Coupon">
                </span>
                <img id="SetImg1" src="../assets/images/icons8-coupon-100.png" alt="free gift">
                <span class="class1">
                    <h3>Free Delivery</h3>
                    <p>With selected items</p>
                    <input type="submit" value="Deliver Now">
                </span>
                <img id="SetImg2" src="../assets/images/checked-truck.png" alt="free delivery">
                <span class="class1">
                    <h3>Gift Voucher</h3>
                    <p>With personal care items</p>
                    <input type="submit" value="Gift Now">
                </span>
                <img id="SetImg3" src="../assets/images/gift--v1.png" alt="free gift">
            </td>
        </tr>
        <tr>
            <td >
                <table id="layout1">
                    <tr>
                        <td id="Td3">
                            <div >
                                <img src="../assets/images/icon_laptop.png" alt="Electronics"> <h3> Electronics</h3>
                            </div>
                            <div >
                                <img src="../assets/images/icon_bag-front-view.png" alt="Handbags"> <h3>Handbags</h3>
                            </div>
                            <div>
                                <img src="../assets/images/icon_wallet.png" alt="Wallet"> <h3>Wallet</h3>
                            </div>
                            <div>
                                <img src="../assets/images/icon_clothes.png" alt="Clothes"><h3>Clothes</h3>
                            </div>
                        </td>
                        <td id="Td4">
                            <table id="layout2">
                                    <!-- <tr id="parent"> 
                                        <td class="Td5">
                                            <div>
                                                <form action="http://localhost:4000/Purchase" method="POST">
                                                    <a href="http://localhost:4000/Productpage"><img src="../assets/images/clothes (1).png" alt="Clothes"></a><span class="class2">20%</span>
                                                    <p>
                                                        Nike Womens Pink Half Zip 
                                                        <br>
                                                        Lightweight Hooded Shirt Top
                                                        <br> 
                                                        Athletic Stretch Size M
                                                    </p>
                                                    <hr>
                                                    <p class="Classp">$15 </p>
                                                    <p class="Classp1">$12 <span class="Classcart"><i class="fas fa-shopping-cart"></i><input type="submit" name="purchase" value=" Cart"></span></p>
                                                </form>
                                            </div> 
                                            <div>
                                                <a href="http://localhost:4000/Productpage"><img src="../assets/images/clothes (1).png" alt="Clothes"></a><span class="class2">20%</span>
                                                <p>
                                                    Nike Womens Pink Half Zip 
                                                    <br>
                                                    Lightweight Hooded Shirt Top
                                                    <br> 
                                                    Athletic Stretch Size M
                                                </p>
                                                <hr>
                                                <p class="Classp">$15 </p>
                                                
                                                <p class="Classp1">$12 <span class="Classcart"><i class="fas fa-shopping-cart"></i><input type="button" value=" Cart"></span></p>
                                            </div>
                                            <div>
                                                <a href="http://localhost:4000/Productpage"><img src="../assets/images/clothes (1).png" alt="Clothes"></a><span class="class2">20%</span>
                                                <p>
                                                    Nike Womens Pink Half Zip 
                                                    <br>
                                                    Lightweight Hooded Shirt Top
                                                    <br> 
                                                    Athletic Stretch Size M
                                                </p>
                                                <hr>
                                                <p class="Classp">$15</p>
                                                
                                                <p class="Classp1">$12 <span class="Classcart"><i class="fas fa-shopping-cart"></i><input type="button" value=" Cart"></span></p>
                                            </div> 
                                        </td>
                                    </tr>
                                    -->
                                    <!-- <tr>
                                        <td class="Td5">
                                            <div>
                                                <a href="http://localhost:4000/Productpage"><img src="../assets/images/clothes (1).png" alt="Clothes"></a><span class="class2">20%</span>
                                                <p>
                                                    Nike Womens Pink Half Zip 
                                                    <br>
                                                    Lightweight Hooded Shirt Top
                                                    <br> 
                                                    Athletic Stretch Size M
                                                </p>
                                                <hr>
                                                <p class="Classp">$15 </p>
                                                <p class="Classp1">$12 <span class="Classcart"><i class="fas fa-shopping-cart"></i><input type="button" value=" Cart"></span></p>
                                            </div>
                                            <div>
                                                <a href="http://localhost:4000/Productpage"><img src="../assets/images/clothes (1).png" alt="Clothes"></a><span class="class2">20%</span>
                                                <p>
                                                    Nike Womens Pink Half Zip 
                                                    <br>
                                                    Lightweight Hooded Shirt Top
                                                    <br> 
                                                    Athletic Stretch Size M
                                                </p>
                                                <hr>
                                                <p class="Classp">$15 </p>
                                                
                                                <p class="Classp1">$12 <span class="Classcart"><i class="fas fa-shopping-cart"></i><input type="button" value=" Cart"></span></p>
                                            </div>
                                            <div>
                                                <a href="http://localhost:4000/Productpage"><img src="../assets/images/shopify.png" alt="Clothes"></a><span class="class2">20%</span>
                                                <p>
                                                    Nike Womens Pink Half Zip 
                                                    <br>
                                                    Lightweight Hooded Shirt Top
                                                    <br> 
                                                    Athletic Stretch Size M
                                                </p>
                                                <hr>
                                                <p class="Classp">$15</p>
                                                <p class="Classp1">$12 <span class="Classcart"><i class="fas fa-shopping-cart"></i><input type="button" value=" Cart"></span></p>
                                            </div>
                                        </td>
                                    </tr> -->
                                    <tr>
                                        <td id="Td6">
                                            
                                            <span>Learn more</span>

                                        </td>
                                    </tr>
                            </table>
                            
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="assets/js/Validation.js"></script>
    <script src="assets/js/user.js"></script>
</body>
</html>