<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Shopping</title>
    <link rel="stylesheet" href="../assets/fonts/fontawesome/css/all.css">
    <link rel="stylesheet" href="../assets/css/Productpage.css">
</head>
<body>
    <table id="layout">
        <tr >
            <td id="Td1">
                <h1 id="value2">Awesome<span id="SetcolorShop">Shop</span></h1>
                <span id="value3">
                <a href="#Question"><i class="fa fa-question-circle" aria-hidden="true"></i> Need Help </a> 
                    
                </span>
                <input type="button" value="Join">
                <div id="value3">
                    <span> Shop your designer dresses </span>
                    <p>Ready to wear dresses tailored for you from online.Hurry up while stock lasts.</p>
                    <div id="Input-icon"> 
                            <i class="fa fa-search" ></i>
                            <input id="sizebox" type="text" placeholder="    Search your products from here"> 
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td id="Td2">
                <span class="class1">
                        <h3>Coupon Saving</h3>
                        <p>Up to 60% off everyday essentials</p>
                        <input type="button" value="Shop Coupon">
                </span>
                <img id="SetImg1" src="../assets/images/icons8-coupon-100.png" alt="free gift">
                <span class="class1">
                    <h3>Free Delivery</h3>
                    <p>With selected items</p>
                    <input type="button" value="Deliver Now">
                </span>
                <img id="SetImg2" src="../assets/images/checked-truck.png" alt="free delivery">
                <span class="class1">
                    <h3>Gift Voucher</h3>
                    <p>With personal care items</p>
                    <input type="button" value="Gift Now">
                </span>
                <img id="SetImg3" src="../assets/images/gift--v1.png" alt="free gift">
            </td>
        </tr>
        <tr>
            <td >
                <table id="layout1">
                    <tr>
                        <td id="Td3">
                            <div >
                                <img src="../assets/images/icon_laptop.png" alt="Electronics"> <h3> Electronics</h3>
                            </div>
                            <div >
                                <img src="../assets/images/icon_bag-front-view.png" alt="Handbags"> <h3>Handbags</h3>
                            </div>
                            <div>
                                <img src="../assets/images/icon_wallet.png" alt="Wallet"> <h3>Wallet</h3>
                            </div>
                            <div>
                                <img src="../assets/images/icon_clothes.png" alt="Clothes"><h3>Clothes</h3>
                            </div>
                        </td>
                        <td id="Td4">
                            <table id="layout2-Product">
                                <tr id="parent">
                                    <!-- <td id="Td7">
                                        <table id="layout3">
                                            
                                                <tr>
                                                    <td id="Td5">
                                                        <img  id="img1" src="" alt="Clothes"><span class="class2">20%</span>
                                                        <div class="class3">
                                                            <div>
                                                                <img src="" alt="Clothes">
                                                        </div>
                                                        <div>
                                                                <img src="" alt="Clothes">
                                                        </div>
                                                        <div>
                                                                <img src="" alt="Clothes">
                                                        </div>
                                                        </div>
                                                    </td>
                                                    <td id="Td6">
                                                        <div id="Div2">
                                                            <div id="Div3">
                                                                <p></p>
                                                            </div>
                                                            <div id="Div4">
                                                                <hr>
                                                                <p >  $15 </p>
                                                            </div>
                                                            <div id="Div5">
                                                                <p >  $12  </p>
                                                            </div>
                                                            
                                                        </div>
                                                        <p id="p1">
                                                        </p>
                                                        <form action="http://localhost:4000/Purchase" method="POST">
                                                        <span class="Classcart"><i class="fas fa-shopping-cart"></i><input type="submit" value=" Cart"></span>
                                                        </form>
                                                        <p id="p2">
                                                            <span>Male T-Shirt</span>
                                                            <span>Single Color</span>
                                                        </p>
                                                    </td>
                                                </tr>
                                            
                                        </table>
                                    </td> -->
                                </tr>
                                <tr>
                                    <td>
                                        <h1>Comments</h1>
                                        <div id="getComment"></div>
                                        <!-- <div class="Div6">
                                            <div class="Div7">
                                                <i class="fa fa-user-circle" aria-hidden="true"></i>
                                            </div>
                                            <div class="Div7">
                                                <p id="p3">Anonymous</p>
                                                <p  id="p4">Today 4:21pm - 12.06.2020</p>
                                            </div>
                                            <p id="p5">Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum has been the industry's 
                                                standard dummy text ever since the 1500s , when on unknown printer took a galley of type and scrambled it to 
                                                make a type specimen book.It has survived not only five centuries , but also the leap into electronic typesetting,
                                                remaining essentially unchanged.
                                            </p>
                                        </div>
                                        <div class="Div6">
                                            <div class="Div7">
                                                <i class="fa fa-user-circle" aria-hidden="true"></i>
                                            </div>
                                            <div class="Div7">
                                                <p id="p3">Anonymous</p>
                                                <p  id="p4">Today 4:21pm - 12.06.2020</p>
                                            </div>
                                            <p id="p5">Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum has been the industry's 
                                                standard dummy text ever since the 1500s , when on unknown printer took a galley of type and scrambled it to 
                                                make a type specimen book.It has survived not only five centuries , but also the leap into electronic typesetting,
                                                remaining essentially unchanged.
                                            </p>
                                        </div> -->
                                        
                                    </td>
                                </tr>
                                <tr>
                                    <td id="Td8">
                                        <form action="http://localhost:4000/Productpage/postComment" method="POST" class="form1">
                                            <textarea name="postComment" id="text" cols="126" rows="5" placeholder="Write something here"></textarea>
                                        </form>
                                        <div class="Div8">
                                            <div>
                                                <i class="fa fa-times" aria-hidden="true"></i> <button type="button" onclick="Discard()">Discard</button>
                                            </div>
                                            <div>
                                                <i  id="Icon1" class="fa fa-share" aria-hidden="true"></i> <button type="submit" id="Button1" onclick="postComment()">Send</button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>       
                            </table>
                            
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="assets/js/Productpage.js"></script>
</body>
</html>